$white: #ffffff;
$black: #000000;
$grey: rgba(#131111, 0.5);
$transparent: transparent;

$primary: #565992;
$primary-container: #E0E0FF;
$on-primary-container: #3E4278;
$secondary: #2F6A43;    
$secondary-container: #B2F1C0;
$on-secondary-container: #14512D;
$error: #BA1A1A;
$error-container: #FFDAD6;
$on-error-container: #93000A;
$surface: #FBF8FF;
$surface-container: #F0ECF4;
$on-surface: #1B1B21;
$surface-variant: #E4E1EC;
$on-surface-variant: #46464F;
$outline: #777680;
$outline-variant: #C7C5D0;

$key-primary: #000050;
$key-secondary: #20E681;
$key-tertiary: #FDA939;
$favorite: #D92B6A;
