#cafeteria-title {
    font-size: 2rem;
    text-align: right;
    margin-right: 25px;
}

.container {
    max-width: 1200px;  
    margin: 0 auto;     
    padding: 0 20px;    
}

.cafeteria-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
    list-style-type: none;
  
    li {
        margin: 10px; 
        text-align: center;
        position: relative;
        min-width: 150px; 
        max-width: 200px;
        flex: 1 1 100%; 
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        @media (max-width: 599px) {
            flex: 1 1 100%; 
        }

        @media (min-width: 600px) {
            flex: 1 1 45%; 
        }

        @media (min-width: 1024px) {
            flex: 1 1 30%; 
        }

        @media (min-width: 1366px) {
            flex: 1 1 22%;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .cafeteria-container {
            position: relative; 
            display: inline-block; 
            width: 100%; 
            height: 120px;
            overflow:hidden;
          }
  
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 10px;
                border-radius: 13px; 
                
            }
            .cafeteria-name{
                align-items: center;
                position: absolute; 
                bottom: 10px; 
                left: 0; 
                right: 0;
                background-color: rgb(255, 255, 255); 
                width: 100%; 
                text-align: center; 
                border-radius: 11px; 
                white-space: nowrap; 
                overflow: hidden; 

                #arrow-icon{
                    display: flex;
                    top: 0px;
                    right: 1px;
                    position: absolute;  
                    color: #b1774f;  
                    transition: color 0.3s ease;                   
                }
                #arrow-icon:hover {
                    color: #fda939; 
                }

                @media (max-width: 768px) {
                    .cafeteria-name {
                        font-size: 1rem; 
                        padding: 5px;
                    }
                }
                
                @media (min-width: 1024px) {
                    .cafeteria-name {
                        font-size: 1.25rem; 
                        padding: 10px;
                    }
                }
                a {
                    text-decoration: none; 
                    color: inherit; 
                  }
    }
}
 }

#logo {
    height: auto;  
    display: block; 
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.logo-container{
    width: 150px;
}

.header {
    background-color: #f8f9fa; 
    padding: 10px 20px; 
    width: 100%; 
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

    .icons {
        display: flex;
        gap: 20px;
        top: 10px;
        right: 20px;
        position: absolute;

    
        i {
          font-size: 1.5rem;
          cursor: pointer;
          font-weight: bold; 
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
          transition: transform 0.2s ease;

            &.search-icon {
                transition: opacity 0.3s ease, transform 0.3s ease;
            }
            &.hidden {
                opacity: 0; 
                transform: scale(0); 
            }
        }

        .search-input {
            transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
            width: 0; 
            opacity: 0; 
            transform: scale(0); 
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            position: absolute;
            right: 0; 
                      
            &.visible {
                width: 250px; 
                opacity: 1; 
                transform: scale(1); 
            }
        }
        
    }
}


  