/* Footer.css */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000050; 
    color: white;
  }
  
  .footer-section {
    flex: 1;
    min-width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    #logo-container{
      width: 100px;
      background-color: white;
      border-radius: 30px;
    }

    .footer-links{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 15px;
    }
    a{
      color: white;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease;
    }
    a:hover {
      color: #ffd700; 
    }
    @media (max-width: 768px) {
      .footer {
        flex-direction: column;
        text-align: center;
      }
    
      .footer-section {
        margin-bottom: 15px;
      }
  }
}
  
  
  